/* Table */
body {
    font-family: "lucida Sans Unicode", "Lucida Grande", "Segoe UI", vardana
}
.demo-table {
    border-collapse: collapse;
    font-size: 13px;
}

.demo-table th, 
.demo-table td {
    padding: 7px 17px;
}
.demo-table .title {
    caption-side: bottom;
    margin-top: 12px;
}

.demo-table thead th:last-child,
.demo-table tfoot th:last-child,
.demo-table tbody td:last-child {
    border: 0;
}

/* Table Header */
.demo-table thead th {
    border-right: 1px solid #c7ecc7;
    text-transform: uppercase;
}

/* Table Body */
.demo-table tbody td {
    color: #353535;
    border-right: 1px solid #c7ecc7;
}

.demo-table tbody tr:nth-child(odd) td {
    background-color: #f4fff7;
}

.demo-table tbody tr:nth-child(even) td {
    background-color: #dbffe5;
}

.demo-table tbody td:nth-child(4),
.demo-table tbody td:first-child,
.demo-table tbody td:last-child {
    text-align: right;
}

.demo-table tbody tr:hover td {
    background-color: #ffffa2;
    border-color: #ffff0f;
    transition: all .2s;
}

/* Table Footer */
.demo-table tfoot th {
    border-right: 1px solid #c7ecc7;
}
.demo-table tfoot th:first-child {
    text-align: right;
}

/* Container For the top*/

.containerTop button {
    flex-direction: row
}

.buttonTop {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 25px;
  }


  /* Main css*/
.titleOfTable {
    margin: 0 auto; 
}

.PrincipalContainer {
    margin: 0 auto;
    padding: 40px;
    background-color: rgb(238, 235, 235);
    max-width: 800px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
  }

.table-wrapper{
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
    background-color: white;
    justify-content: center;
}

.selectedButton {
    margin-right: 20px;
    margin-left: 20px; 
    font-size: 25px;
    background-color: rgb(95, 95, 95);
}


* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
  
  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: #666;
    color: white;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }